.parent {
  -fx-background-color: #303138;
}

.close-btn {
  -fx-background-color: transparent;
}

.close-btn:hover {
  -fx-background-color: #E81123;
}

.minus-btn {
  -fx-background-color: transparent;
}

.minus-btn:hover {
  -fx-background-color: #171717;
}